annotated-types==0.7.0
boto3==1.34.158
botocore==1.34.158
jmespath==1.0.1
pydantic==2.8.2
pydantic-core==2.20.1
python-dateutil==2.9.0.post0
redis==5.0.8
s3transfer==0.10.2
six==1.16.0
typing-extensions==4.12.2
urllib3==2.2.2
